language: node_js
node_js:
  - "4"
  - "5"
  - "6"
  - "7"
  - "stable"

sudo: required

services:
  - docker

before_install:
  - git clone https://github.com/CORaleigh/linux-oracle-client.git /opt/oracle/
  - mv /opt/oracle/instantclient_12_1 /opt/oracle/instantclient

before_script:
  - npm run lint

notifications:
  email:
    on_success: never
    on_failure: change